.bg-hero {
    background:
        radial-gradient(
            circle at 80% 30%,
            rgba(59, 130, 246, 0.35),
            transparent 35%
        ),
        linear-gradient(
            180deg,
            #2573eb 0%,
            #1e3a8a 100%
        );
}

/* Evita espacios externos inesperados */
section {
    padding-top: 20px;
    margin-top: -100px;

    margin-bottom: 110px;
    padding-bottom: 0px;
}

/* Material Symbols */
.material-symbols-outlined {
    position: relative;
    top: 3px;
    font-size: 20px;
}


/* Móvil */
@media (max-width: 768px) {

    .bg-hero {
        background:
            radial-gradient(
                circle at 80% 20%,
                rgba(59, 130, 246, 0.3),
                transparent 40%
            ),
            linear-gradient(
                180deg,
                #2573eb 0%,
                #1e3a8a 100%
            );
    }
}
