.bg-hero {
    background: linear-gradient(
        180deg,
        #2573eb 15%,
        #1e3a8a 80%
    );
}

.texto-principal {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
}

.texto-parrafo {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #f3f4f6;
}

.material-symbols-outlined {
    position: relative;
    top: 3px;
    font-size: 20px;
}



/* Vista móvil */
@media (max-width: 768px) {

    .texto-principal {
        margin-top: 1rem;
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .texto-parrafo {
        font-size: 1rem;
        line-height: 1.4rem;
        margin-top: 0.8rem;
    }

}