.bg-color{
    background: linear-gradient( #4f7bc7, #6a90d4);
}

.logo {
    height: 50px;
    width: auto;
    object-fit: contain;
}


.link-color{
    color: #f1f5f9;
}

.link-color:hover{
    color: #fbe948;
}